/* reset */

body, h1, h2, h3, a, li
section, div, ul, p, table {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;

  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  font: inherit;
  color: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

group:after {
  content: "";
  display: block;
  clear: both;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  position: relative;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  background: #000;
}

h1 {
  font-size: 8vmin;
}

h2 {
  font-size: 3vmin;
}

.main-window {
  width: 900px;
  margin: 0 auto;
}

/* sidebar */
#sidebar {
  /*border-top: .1vh solid #000;
  border-bottom: .1vh solid #000;
  border-left: .1vw solid #000;
  border-right: .1vw solid #000;*/
  width: 25%;
  height: 100%;
  float: left;
  position: fixed;
  padding-top: 5vh;
  background: #E25D33;
  color: #FEFFF8;
  box-shadow: 3vh 1vw 6vh -1vh rgba(0,0,0,0.75);
}

#sidebar h1, #sidebar h2 {
  padding-right: 2vw;
  text-align: right;
}

#sidebar {
  letter-spacing: .5vw;
}

#sidebar h2 {
  padding-top: 1.5vh;
  color: #ccc;
}

#sidebar .nav-links {
  text-align: right;
  padding-top: 3vh;
}

.nav-links li {
  padding: 2vh 2vw;
  font-size: 2.5vh;
}

.nav-links li:hover {
  background: #ccc;
}

#sidebar .nav-icon {
  height: 3vh;
  width: auto;
  float: right;
  margin: -.5vh;
  padding-left: 1vw;
}

#sidebar .contact-links {
  /*float: right;
  padding-top: 26vh;
  padding-right: 2vw;*/
  position: absolute;
  bottom: 3vmin;
  right: 2vmin;
}

#sidebar .contact-links li {
  float:left;
  padding-left: 2vw;
}

#sidebar .contact-links li:hover {
  opacity: 0.3;
}

.contact-links img {
  height: 5vh;
  width: auto;
}

/* main window */
#main {
  /*border-top: .3vh solid #eee;*/
  /*border-top: .3vh solid #eee;*/
  top: 0;
  float: right;
  overflow: hidden;
  width: 74%;
  height: 100%;
}

#main h1 {
  text-align: center;
  padding-top: 3vh;
  margin-bottom: 2vh;
}


/* intro */
.intro {
  height: 100vh;
  position: relative;
  color: #FEFFF8;
  background-image:
  linear-gradient(
    #eeeeee, #ffffff
  );
  border-bottom: .3vh solid #eee;
}

#main .intro h1 {
  padding-top: 2vh;
}

.splash-img {
  display: block;
  height: 40vmin;
  width: auto;
  line-height: 30vh;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0vh auto 2vh auto;
 }

 .intro .name {
   font-size: 12vmin;
   font-family: 'Lato', sans-serif;
   margin: 0 auto;
   /*padding-top: 2vh;*/
   text-align: center;
   color: #333;
   letter-spacing: 1vw;
   font-weight: bold;
 }

 #main .intro .title {
   font-size: 6vh;
   margin: 0 auto;
   padding-top: 0vh;
   padding-bottom: 2vh;
   text-align: center;
   color: #000;
   letter-spacing: 1vw;
   font-weight: bold;
 }

.intro .tagline {
  font-size: 4vh;
  margin: 0 auto;
  padding-top: 0vh;
  text-align: center;
  color: #70AB8F;
}

strong {
  color: blue;
}

.coding-skills {
  overflow: hidden;
}

.coding-skills table {
  margin: 0 auto;
}


.coding-icon {
  width: 4vw;
  height: auto;
  padding-left: 2vw;
  padding-top: 3vh;
}

/* projects */
.projects {
  /*height: 100vh;*/
  background-image:
  linear-gradient(
    #eeeeee, #ffffff
  );
  border-bottom: .3vh solid #eee;
  position: relative;
}

.project-window {
  display: block;
  height: 25vh;
  width: 100vw;
  margin-top: 3vh;
  position: relative;
}

.project-window:nth-child(2){
  padding-top: 2vh;
}

.project-window img {
  float: left;
  height: 22vh;
  width: auto;
  margin: 0vh auto 0vh 10vw;
  border-top: .3vh solid #aaa;
  border-bottom: .3vh solid #aaa;
  border-left: .3vw solid #aaa;
  border-right: .3vw solid #aaa;
  position: relative;
  z-index: 5;
}

.project-window ul {
  float: left;
  color: #000;
  padding-left: 5vw;
  padding-top: 2vh;
}

.project-window img:hover {
  opacity: .2;
  z-index: 0;
}

.project-window .live-link,
.project-window .github-link {
  position: absolute;
  left: 16vw;
  font-size: 3vh;
}


.project-window .live-link {
  top: 8vh;
  z-index: 0;
}

.project-window .github-link {
  top: 15vh;
  z-index: 2;
}

/* about-me */
.about-me {
  /*height: 100vh;*/
  background-image:
  linear-gradient(
    #ffffff, #eeeeee
  );
  border-bottom: .3vh solid #fff;
  position: relative;
}

.about-me p {
  font-size: 4vmin;
  margin: 15vh 5vw;

}

/* resume */
.resume {
  /*height: 100vh;*/
  background-image:
  linear-gradient(
    #ffffff, #eeeeee
  );
  border-bottom: .3vh solid #fff;
  position: relative;
}

/* contact */
.contact {
  /*height: 100vh;*/
  background-image:
  linear-gradient(
    #eeeeee, #ffffff
  );
  border-bottom: .3vh solid #eee;
  position: relative;
}
